.actorsdetailsborder{
    border: solid 3px #D39D5B;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    .actorsdetailsCard{

    }

    img{

        width: 70%;
        height: auto;
    }
    h2{

        font-weight: normal;
        font-family: Titillium Web;
        color: #707070;
    }
    p{
        font-size: 1.5em;
        color: #D39D5B;
    }
}

.actorsdetailbutton{
    float: right;
    margin-right: 10%;
    margin-top: 2%;
        button{
           background-color: #AD7A51; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold; 
    }

}

@media screen and (min-width: 1300px) { 

    .actorsdetailsCard{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        img{
            grid-area: 1 / 1 / 5 / 2;
            width: 100%;
            height: auto;
        }
        h2{
            grid-area: 1 / 2 / 2 / 4;
            position: relative;
            left: 2vw;
            bottom: 3vh;
            font-size: 1.8em;
            font-weight: normal;
            font-family: Titillium Web;
            color: #707070;
        }
        p{
            grid-area: 2 / 2 / 5 / 5; 
            position: relative;
            left: 2vw;
            bottom: 11vh;
            font-size: 1.5em;
            color: #D39D5B;
        }
}

}