@use "./colors.scss" as c;
.footerbox {
  padding-top: 2%;
  text-align: center;
  background-color: c.$gray;
  color: c.$white;
  .colum3 {
    display: none;
  }
  .mobileremove {
    display: none;
  }
}
@media screen and (min-width: 1300px) {
  .footerbox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .mobileremove {
      display: block;
    }
    .colum1 {
      grid-area: 1 / 2 / 3 / 3;
    }
    .colum2 {
      grid-area: 1 / 3 / 3 / 4;
    }
    .colum3 {
      grid-area: 1 / 4 / 3 / 5;
      display: block;
    }

    .social {
      grid-area: 1 / 5 / 2 / 6;
    }
  }
}
